version: "3.9"
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8080
    volumes:
      - .:/usr/src/app
    ports:
      - "8080:8080"
    env_file:
      - .env
  celery:
    build:
      context: .
    env_file:
      - .env
    depends_on:
      - redis
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

